CVMFS_REPOSITORIES="{% for item in cvmfs_client_repositories %}{{ item }},{% endfor %}"
CVMFS_QUOTA_LIMIT="{{ (cvmfs_client_cache_size|float * 0.82)|round(0, 'floor')|int }}"
CVMFS_HTTP_PROXY="{{ cvmfs_client_http_proxy }}"
CVMFS_OOM_SCORE_ADJ="-10"
{% for key, value in cvmfs_client_conf.items() %}
{{ key }}="{{ value }}"
{% endfor %}